<!-- booksExpAll.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Номнууд - ' + ${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}">Номнууд</title>
</head>
<body>
    <h1 th:text="'Үнэтэй номнуудын жагсаалт!!!'">Номнуудын жагсаалт</h1>

    <table>
        <tr>
            <th style="color:red" th:text="#{book.title}">Гарчиг</th>
            <th th:text="#{book.price}">Үнэ</th>
            <th th:text="#{book.isbn}">ISBN</th>
        </tr>
        <tr th:if="${bookExpAll != null and not #lists.isEmpty(bookExpAll)}" th:each="book : ${bookExpAll}">
            <td th:text="${book.title}">Title</td>
            <td th:text="${book.price}">100</td>
            <td th:text="${book.isbn}">Isbn1</td>
        </tr>
    </table>
</body>
</html>
